.header {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  z-index: 10;
}

.item:hover() {
  border-bottom: solid 1px black;
}

.person-component-link a:link {
    text-decoration: none;
}
.person-component-link a:visited {
    text-decoration: none;
}
.person-component-link a:hover {
    text-decoration: none;
}
.person-component-link a:active {
    text-decoration: none;
}

